@font-face {
    font-family: Tourney;
    src: url('./fonts/Tourney/Tourney-Italic-VariableFont_wdth\,wght.ttf');

}
body{
    font-family:  Tourney;
    font-size: larger;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    height: 300px;
    width: 300px;


}
.container{
    display: grid;
    place-items: center;
    
    margin-top: 50px;
}

.box-container div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;

}
.card-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: grey;

}
.btnDiv{
    margin-top: 100px;
}


  @media (max-width: 420px) {
      .card-container{

        width:fit-content;
    } 
     
}
